 <div class="modal detalle">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-positive">
      <a class="button" ng-click="closeViewPost()">Volver</a>
      <h1 class="title">Nota</h1>
      <button class="button " ng-click="shareAla()">
        <i class="icon ion-android-share-alt"></i></button>
    </ion-header-bar>
    <!-- Modal content area -->


    <ion-content>
  
      <div class="list card postView">
        <div class="item">
          <h2>{{post.ubicacion}}</h2>
          <p>{{post.createDate | date:'dd.MM.yyyy HH:mm'}}hs</p>
        </div>
        
        <div ng-if="post.tienePic == true">
            <div class="item item-image">
              <img src="{{post.myPic}}">
            </div>
        </div>
        
        <div class="item comentario">
           {{post.comentario}}
        </div>
       
        


        <div ng-if="post.tieneMapa == true">
            <div class="item">
              <p>Ubicación</p>
            </div>
        </div>
        
        <div ng-if="post.tieneMapa != true"></div>

        <div class="item item-image ">
          <div id="map-canvas"></div>
        </div>
        
        <div class="item"></div>
        
      </div>  
     
    
 <!--      <button  class="button button-clear button-positive" 
        ng-click="getPhoto(postIndex, post)">Imagen</button>
      <button  class="button button-small button-positive" 
        ng-click="getPhoto(postIndex, post)"><i class="icon ion-image"></i></button>
 -->
    

    </ion-content>
    <div class="bar bar-footer">
      <button  class="button  button-clear button-assertive" 
        ng-click="deletePost(postIndex, post)"><i class="icon ion-ios-trash-outline"></i></button>
          <button  class="button button-clear button-positive" 
        ng-click="editPost(postIndex, post)">Editar</i>
      </button>
    </div>

  </div>